body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slide {
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  height: 400px; /* Set the desired height for the slides */
}

.slide h3 {
  margin-top: 10px;
}

.slide p {
  color: #888;
}


